[package]
name = "karak-cli"
description = "Karak CLI"
version = { workspace = true }
authors = { workspace = true }
repository = { workspace = true }
edition = { workspace = true }

[dependencies]
clap = { version = "4.5.8", features = ["derive"] }
karak-sdk = { path = "../sdk" }
hex = "0.4.3"
rpassword = "7.3"
base64 = "0.22.1"
bs58 = "0.5.1"
sha3 = "0.10"
color-eyre = "0.6.3"

[[bin]]
name = "karak"
path = "src/main.rs"
